<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单的输入绑定操作实现</title>
</head>
<body>
    
    <div id="app">
            <!--<input v-model="message" placeholder="edit me">-->
            <!--<p>Message is: {{ message }}</p>-->

            <!--多行文本的双向绑定操作和实现-->
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>
    
    <div id="app-3">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label>
    </div>


    <!--将多个复选框绑定到一个数组,可以获取到多个多选框的数值信息-->
    <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
    </div>

    <!--单选框-->
    <div id="example-4">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
    </div>


    <!--选择框-->
    <div id="example-5">
            <select v-model="selected">
              <option disabled value="">请选择</option>
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
    </div>


    <div id="example-6">
            <select v-model="selected" multiple style="width: 50px;">
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
    </div>

    <div id="example-7">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <!--  v-model  对应的绑定的是静态的字符串信息,v-bind对应的是绑定的是动态的属性-->
    <!-- 当选中时，`picked` 为字符串 "a" -->

    </br>
    </br>
    </br>
    </br>
    </br>
<div id="example-8">
    <input type="radio" v-model="picked" value="a">

    <!-- `toggle` 为 true 或 false -->
    <input type="checkbox" v-model="toggle">

    <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
    <select v-model="selected">
      <option value="abc">ABC</option>
    </select>
</div>


   <div id="example-9">
        <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      >
   </div>

    </br>
    </br>
    </br>
    </br>
    </br>
     <div id="example-10">
        <input type="radio" v-model="pick" v-bind:value="a">
     </div>


     <div id="example-11">
            <select v-model="selected">
                <!-- 内联对象字面量 -->
                <option v-bind:value="{ number: 123 }">123</option>
            </select>
     </div>


     <!--表单的相关的修饰符信息如下操作-->
     <!-- 对应的只有在执行方法的时候才会存在相关的属性的变化-->
     <input v-model.lazy="msg" >
     <!--对应的只有当输入的参数对应的可以转化为number类型的才可以继续,无法转换会使用原来的数值-->
     <input v-model.number="age" type="number">
     <!--去掉首尾的字符串信息-->
     <input v-model.trim="msg">


    <script   src="../js/vue.js" ></script>
            
    <script>
         let  app= new Vue({
             el:"#app",
             data:{
                 message:""
             }
         })

         let  app3= new Vue({
             el:"#app-3",
             data:{
                checked:true
             }
         })

         let  app2= new Vue({
             el:"#example-3",
             data:{
                checkedNames:[]
             }
         })

         let  app4= new Vue({
             el:"#example-4",
             data:{
                picked:''
             }
         })

         let  app5= new Vue({
             el:"#example-5",
             data:{
                selected:''
             }
         })

         let  app6= new Vue({
             el:"#example-6",
             data:{
                selected:[]
             }
         })
         let  app7= new Vue({
             el:"#example-7",
             data:{
                options:[
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ],
                selected:'A'
             }
         })

         let  app8= new Vue({
             el:"#example-8",
             data:{
                picked:'b',
                toggle:false,
                selected:''
             }
         })

         let  app9= new Vue({
             el:"#example-9",
             data:{
                toggle:''
             }
         })

         let  app10= new Vue({
             el:"#example-10",
             data:{
                pick:'',
                a:''
             }
         })

         let  app11= new Vue({
             el:"#example-11",
             data:{
                selected:''
             }
         })
    </script>
</body>
</html>